<div class="row">
    {# Total Rows #}
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-file-excel"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{ importer.sourceLabel }} ({{ importer.worksheetTitle }})</span>
                <span class="info-box-number">{{ importer.numImportedItems }} Rows</span>
            </div>
        </div>
    </div>

    {# New Results #}
    {% if createdResults|length > 0 %}
        {% set bgColor = 'bg-green' %}
        {% set actionCount = createdResults|length %}
    {% else %}
        {% set bgColor = 'bg-gray' %}
        {% set actionCount = '-- None --' %}
    {% endif %}
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon {{ bgColor }}"><i class="fa fa-plus"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">New</span>
                <span class="info-box-number">{{ actionCount }}</span>
            </div>
        </div>
    </div>

    {# Updated Results #}
    {% if updatedResults|length > 0 %}
        {% set bgColor = 'bg-orange' %}
        {% set actionCount = updatedResults|length %}
    {% else %}
        {% set bgColor = 'bg-gray' %}
        {% set actionCount = '-- None --' %}
    {% endif %}
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon {{ bgColor }}"><i class="fa fa-edit"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Updated</span>
                <span class="info-box-number">{{ actionCount }}</span>
            </div>
        </div>
    </div>
</div>