<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Specimen ID</th>
        <th>Conclusion</th>
        <th>Well Plate Barcode</th>
        <th>Well Position</th>
        <th>CT / Amp Score</th>
    </tr>
    </thead>

    <tbody>
    {% for result in results  %}
        <tr>
            <td>{{ result.specimenAccessionId }}</td>
            <td>{{ result.conclusion }}</td>
            <td>{{ result.wellPlateBarcode }}</td>
            <td>{{ result.wellPosition }}</td>
            <td>
                CT1: {{ result.CT1 }} / {{ result.CT1AmpScore }}<br>
                CT2: {{ result.CT2 }} / {{ result.CT2AmpScore }}<br>
                CT3: {{ result.CT3 }} / {{ result.CT3AmpScore }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
