{% block body %}
{% set userCanViewSpecimens = is_granted('ROLE_SPECIMEN_VIEW') %}
{% set userCanViewWellPlates = is_granted('ROLE_WELL_PLATE_VIEW') %}
{% set userCanEditResults = is_granted('ROLE_RESULTS_EDIT') %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            {% if userCanEditResults %}<th>&nbsp;</th>{% endif %}
            <th>Specimen</th>
            <th>RNA Well Plates</th>
            <th>Conclusion</th>
            <th>Reported At</th>
        </tr>
    </thead>
    <tbody>
    {% for result in results %}
        <tr>
            {% if userCanEditResults %}
            <td>
                <a href="{{ path('app_results_qpcr_edit', {id: result.id}) }}">Edit</a>
            </td>
            {% endif %}
            <td>
                {% if userCanViewSpecimens %}
                    <a href="{{ path('app_specimen_view', {accessionId: result.specimen.accessionId}) }}">{{ result.specimen }}</a>
                {% else %}
                    {{ result.specimen.accessionId }}
                {% endif %}
            </td>
            <td>
                {% for well in result.specimen.wells %}
                    {% set barcode = well.wellPlateBarcode %}
                    {% set position = well.position %}

                    {% set displayString = '' %}
                    {% if barcode %}
                        {% set displayString = position ? barcode ~ ' / ' ~ position : barcode %}
                    {% endif %}

                    {% if userCanViewWellPlates %}
                        <a href="{{ path('well_plate_view', {barcode: barcode}) }}">{{ displayString }}</a>
                    {% else %}
                        {{ displayString }}
                    {% endif %}
                    <br>
                {% endfor %}
            </td>
            <td>{{ result.conclusionText }}</td>
            <td>{{ result.createdAt | date("Y-m-d H:i:s") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
