{% extends 'base.html.twig' %}

{% block page_title %}
    Viral Result for {{ result.specimenAccessionId }}
{% endblock %}

{% block body %}
{% set userCanViewSpecimens = is_granted('ROLE_SPECIMEN_VIEW') %}
{% set userCanViewGroups = is_granted('ROLE_PARTICIPANT_GROUP_EDIT') %}
{% set userCanViewWellPlates = is_granted('ROLE_WELL_PLATE_VIEW') %}
{% set userCanEditResults = is_granted('ROLE_RESULTS_EDIT') %}
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    General

                    {% if userCanEditResults %}
                        <a href="{{ path('results_qpcr_edit', {id: result.id}) }}" class="btn btn-primary btn-xs" style="margin-left:8px"><i class="fa fa-fw fa-edit"></i> Edit</a>
                    {% endif %}
                </h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Reported At</dt>
                    <dd>{{ result.createdAt | date("Y-m-d g:ia") }}</dd>

                    <dt>Conclusion</dt><dd>{{ result.conclusionText }}</dd>

                    <dt>Ct / Amp Score</dt>
                    <dd>
                        {% if result.CT1 is not null %}Ct1: {{ result.CT1 }} / {{ result.CT1AmpScore }}<br>{% endif %}
                        {% if result.CT2 is not null %}Ct2: {{ result.CT2 }} / {{ result.CT2AmpScore }}<br>{% endif %}
                        {% if result.CT3 is not null %}Ct3: {{ result.CT3 }} / {{ result.CT3AmpScore }}<br>{% endif %}
                    </dd>

                    <hr style="border-top-color: #f4f4f4;"/>

                    <dt>Specimen</dt>
                    <dd>
                        {% if userCanViewSpecimens %}
                            <a href="{{ path('app_specimen_view', {accessionId: result.specimenAccessionId}) }}">{{ result.specimen }}</a>
                        {% else %}
                            {{ result.specimenAccessionId }}
                        {% endif %}
                    </dd>

                    {% if userCanViewGroups %}
                        <dt>Participant Group</dt>
                        <dd><a href="{{ path('app_participant_group_view', {title: result.specimen.participantGroup.title}) }}">{{ result.specimen.participantGroup }}</a></dd>
                    {% endif %}

                    <hr style="border-top-color: #f4f4f4;"/>

                    <dt>Well Plate Barcode</dt>
                    <dd>
                        {% if userCanViewWellPlates and result.wellPlateBarcode is not empty %}
                            <a href="{{ path('well_plate_view', {barcode: result.wellPlateBarcode}) }}">{{ result.wellPlateBarcode }}</a>
                        {% else %}
                            {{ result.wellPlateBarcode }}
                        {% endif %}
                    </dd>

                    <dt>Well Plate Position</dt>
                    <dd>{{ result.wellPosition }}</dd>

                    <hr style="border-top-color: #f4f4f4;"/>

                    <dt>Web Hook Status</dt>
                    <dd>
                        {{ result.webHookStatus }}
                        {% if result.webHookStatusMessage %}
                            <i class="fas fa-question-circle question-icon-help" title="{{ result.webHookStatusMessage|e("html_attr") }}"></i>
                        {% endif %}
                    </dd>

                    <dt>Web Hook Last Sent</dt>
                    <dd>{{ result.webHookLastTriedPublishingAt ? result.webHookLastTriedPublishingAt|date("Y-m-d H:i:s") : ''}}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        {% include 'audit-history.html.twig' with {auditLogs: auditLogs} %}
    </div>
</div>
{% endblock %}
