{% set allowPerTubeDecision = is_granted("ROLE_TUBE_CHECK_IN") %}
{% set salivaTubeType = constant('App\\Entity\\Tube::TYPE_SALIVA') %}
<table id="queue-list-table" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            {% if displayRowCheckboxes %}
            <th style="width: 2em;"><input type="checkbox" id="check-all"></th>
            {% endif %}
            <th>Tube Accession ID</th>
            <th>Type</th>
            <th>Printed At</th>
            <th>Collected At <i class="fas fa-question-circle question-icon-help" title="Date/Time Specimen collected by Participant. For example, when they spit in the tube."></i></th>
            <th>Returned At <i class="fas fa-question-circle question-icon-help" title="Date/Time Tube returned at a Kiosk"></i></th>
            {% if allowPerTubeDecision %}<th style="width:100px; text-align:center;">Reject</th>{% endif %}
        </tr>
    </thead>
    <tbody>
    {% for tube in tubes %}
        <tr class="row-tube-{{ tube.accessionId|e('html_attr') }}">
            {% if displayRowCheckboxes %}
            <td>
                {% if tube.tubeType == salivaTubeType %}
                <input type="checkbox" class="tube-checkbox" name="tubeAccessionIds[]" value="{{ tube.accessionId|e('html_attr') }}">
                {% endif %}
            </td>
            {% endif %}
            <td>{{ tube.accessionId }}</td>
            <td>{{ tube.typeText }}</td>

            {% if tube.printedAt is empty %}
                <td></td>
            {% else %}
                <td class="nowrap-cell" data-sort="{{ tube.printedAt|date("U")|e("html_attr") }}">{{ tube.printedAt|date("Y-m-d g:ia") }}</td>
            {% endif %}

            {% if tube.collectedAt is empty %}
                <td></td>
            {% else %}
                <td class="nowrap-cell" data-sort="{{ tube.collectedAt|date("U")|e("html_attr") }}">{{ tube.collectedAt|date("Y-m-d g:ia") }}</td>
            {% endif %}

            {% if tube.returnedAt is empty %}
                <td></td>
            {% else %}
                <td class="nowrap-cell" data-sort="{{ tube.returnedAt|date("U")|e("html_attr") }}">{{ tube.returnedAt|date("Y-m-d g:ia") }}</td>
            {% endif %}

            {% if allowPerTubeDecision %}
            <td style="text-align:center;">
                {# Reject #}
                <button type="button" class="btn-tube-{{ tube.accessionId|e('html_attr') }} reject-one-tube btn btn-danger btn-sm" title="Reject" data-tube-id="{{ tube.accessionId|e('html_attr') }}">
                    <i class="fas fa-times"></i>
                </button>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if allowPerTubeDecision %}
<script>
    // Clicking Reject button will reject Tube
    $('.reject-one-tube').on('click', function() {
        const $btn = $(this);
        const tubeId = $btn.data('tube-id');
        const url = "{{ path('checkin_reject_tube') }}";

        if (!confirm("Mark Tube "+tubeId+" Rejected?")) return;

        // Send decision to server
        $.post(url, {
            tubeId: tubeId
        })
        .fail(function(responseObj) {
            // Error happened, show it
            const response = responseObj.responseJSON;
            const errorMsg = response.errorMsg;
            if (errorMsg) {
                alert(errorMsg);
                return;
            }
            alert('Cannot save Tube Rejection.');
        })
        .done(function(responseObj) {
            // Disable clicking button again
            $btn.prop('disabled', true);
        });
    });

    // Enable DataTable for table of Tubes in Queue
    $('#queue-list-table').DataTable({
        // Disable global table search field. We provide our own column search filters.
        searching: false,

        // Disable paging so users can view all records at once.
        paging: false,

        // Only display {table} data.
        // Counts provided by custom view.
        // Hides {information}, {pagination}, {length} and {filter} blocks because we don't use them.
        // https://datatables.net/reference/option/dom
        dom: 't',

        // Re-word {information} block to only show record count.
        // Normally this area includes page counts but our paging is disabled,
        // so just display the full count.
        // https://datatables.net/reference/option/infoCallback
        infoCallback: function(settings, start, end, max, total, pre) {
            return "<strong>Found " + total + " records</strong>";
        },

        // Disable some features for select columns.
        // https://datatables.net/reference/option/columnDefs
        columnDefs: [
            {
                targets: 0,
                orderable: false
            },
            {
                targets: 6,
                orderable: false
            }
        ],

        // Default sort on Returned At column with most recent at top
        order: [[5, 'desc']],

        // Sort columns using first <thead> row
        // instead of last row (which contain our filter form widgets)
        "bSortCellsTop": true,

        // Text displayed when no results found
        "language": {
            "emptyTable": "<em>No results found. Remove filters to display records.</em>"
        }
    });
</script>
{% endif %}
