{% block body %}
    {% set userCanEditSpecimens = is_granted('ROLE_SPECIMEN_EDIT') %}
    {% set userCanViewWellPlates = is_granted('ROLE_WELL_PLATE_VIEW') %}
<table id="specimen-list-table" class="table table-bordered table-hover">
    <thead>
        <tr>
            {% if userCanEditSpecimens %}<th>&nbsp;</th>{% endif %}
            <th>Accession ID</th>
            <th>Participant Group</th>
            <th>Type</th>
            <th>Collection Time</th>
            <th>Well Plate</th>
            <th>CLIA Testing Recommended?</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for specimen in specimens %}
        <tr>
            {% if userCanEditSpecimens %}
            <td>
                <a href="{{ path('app_specimen_edit', {accessionId: specimen.accessionId}) }}">Edit</a>
            </td>
            {% endif %}
            <td>
                <a href="{{ path('app_specimen_view', {accessionId: specimen.accessionId}) }}">{{ specimen.accessionId }}</a>
            </td>
            <td>{{ specimen.participantGroup }}</td>
            <td>{{ specimen.typeText }}</td>
            {% if specimen.collectedAt is empty %}
                <td></td>
            {% else %}
                <td class="nowrap-cell" data-sort="{{ specimen.collectedAt|date("U")|e("html_attr") }}">{{ specimen.collectedAt | date("Y-m-d H:ia") }}</td>
            {% endif %}
            <td class="nowrap-cell">
                {% for well in specimen.wells %}
                    {% if userCanViewWellPlates %}
                    <a href="{{ path('well_plate_view', {barcode: well.wellPlateBarcode}) }}">{{ well.wellPlatePositionDisplayString }}</a>
                    {% else %}
                    {{ well.wellPlatePositionDisplayString }}
                    {% endif %}
                    <br>
                {% endfor %}
            </td>
            <td>{{ specimen.cliaTestingRecommendedText }}</td>
            <td>{{ specimen.statusText }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="application/javascript">
    // Enable DataTable for table of Specimens
    $('#specimen-list-table').DataTable({
        // Disable global table search field. We provide our own column search filters.
        searching: false,

        // Disable paging so users can view all records at once.
        paging: false,

        // Display info line before table instead of after it.
        // Also hides {pagination}, {length} and {filter} blocks because we don't use them.
        // Renders blocks as:
        // {information}
        // {table}
        // https://datatables.net/reference/option/dom
        dom: 'it',

        // Re-word {information} block to only show record count.
        // Normally this area includes page counts but our paging is disabled,
        // so just display the full count.
        // https://datatables.net/reference/option/infoCallback
        infoCallback: function(settings, start, end, max, total, pre) {
            return "<strong>Found " + max + " records</strong>";
        },

        // Disable some features for select columns.
        // https://datatables.net/reference/option/columnDefs
        columnDefs: [
            {
                targets: 0,
                orderable: false
            }
        ],

        // Default sort on Collection Time column with most recent at top
        order: [[4, 'desc']],

        // Sort columns using first <thead> row
        // instead of last row (which contain our filter form widgets)
        "bSortCellsTop": true,

        // Text displayed when no results found
        "language": {
            "emptyTable": "<em>No results found. Remove filters to display records.</em>"
        }
    });
</script>
{% endblock %}
