{% block body %}
    {% set userCanEditSpecimens = is_granted('ROLE_SPECIMEN_EDIT') %}
    {% set userCanViewWellPlates = is_granted('ROLE_WELL_PLATE_VIEW') %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            {% if userCanEditSpecimens %}<th>&nbsp;</th>{% endif %}
            <th>Accession ID</th>
            <th>Participant Group</th>
            <th>Type</th>
            <th>Collection Time</th>
            <th>Well Plate</th>
            <th>CLIA Testing Recommended?</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for specimen in specimens %}
        <tr>
            {% if userCanEditSpecimens %}
            <td>
                <a href="{{ path('app_specimen_edit', {accessionId: specimen.accessionId}) }}">Edit</a>
            </td>
            {% endif %}
            <td>
                <a href="{{ path('app_specimen_view', {accessionId: specimen.accessionId}) }}">{{ specimen.accessionId }}</a>
            </td>
            <td>{{ specimen.participantGroup }}</td>
            <td>{{ specimen.typeText }}</td>
            <td>{{ specimen.collectedAt ? specimen.collectedAt | date("Y-m-d H:ia") : '' }}</td>
            <td>
                {% for well in specimen.wells %}
                    {% if userCanViewWellPlates %}
                    <a href="{{ path('well_plate_view', {barcode: well.wellPlateBarcode}) }}">{{ well.wellPlatePositionDisplayString }}</a>
                    {% else %}
                    {{ well.wellPlatePositionDisplayString }}
                    {% endif %}
                    <br>
                {% endfor %}
            </td>
            <td>{{ specimen.cliaTestingRecommendedText }}</td>
            <td>{{ specimen.statusText }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
