{% extends 'base.html.twig' %}
{% set userCanEditSpecimens = is_granted('ROLE_SPECIMEN_EDIT') %}
{% set userCanViewResults = is_granted('ROLE_RESULTS_VIEW') %}
{% set userCanEditResults = is_granted('ROLE_RESULTS_EDIT') %}
{% set bloodConstant = constant('App\\Entity\\Specimen::TYPE_BLOOD') %}
{% set salivaConstant = constant('App\\Entity\\Specimen::TYPE_SALIVA') %}

{% block page_title %}
    Specimen {{ specimen.accessionId }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    General

                    {% if userCanEditSpecimens %}
                    <a href="{{ path('app_specimen_edit', {accessionId: specimen.accessionId}) }}" class="btn btn-primary btn-xs" style="margin-left:8px"><i class="fa fa-fw fa-edit"></i> Edit</a>
                    {% endif %}
                </h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Accession ID</dt><dd>{{ specimen.accessionId }}</dd>
                    <dt>Participation Group</dt><dd>{{ specimen.participantGroup }}</dd>
                    <dt>Type</dt><dd>{{ specimen.typeText }}</dd>
                    <dt>Well Plate</dt><dd>
                        {% for well in specimen.wells %}
                        <a href="{{ path('well_plate_view', {barcode: well.wellPlateBarcode}) }}">{{ well.wellPlatePositionDisplayString }}</a><br>
                        {% endfor %}
                    </dd>
                    <dt>Collection Time</dt><dd>{{ specimen.collectedAt is empty ? "" : specimen.collectedAt|date("Y-m-d g:ia") }}</dd>
                    {% if specimen.cliaTestingRecommendedText %}
                    <dt>CLIA Testing Recommended?</dt><dd>{{ specimen.cliaTestingRecommendedText }}</dd>
                    {% endif %}
                    <dt>Status</dt><dd>{{ specimen.statusText }}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        {% include 'audit-history.html.twig' with {auditLogs: auditLogs} %}
    </div>

</div>

{% if userCanViewResults %}

{% if specimen.type == salivaConstant %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Viral Results

                    {% if userCanEditResults %}
                    <a href="{{ path('results_qpcr_new', {specimenAccessionId: specimen.accessionId}) }}" class="btn btn-success btn-xs" style="margin-left:8px"><i class="fa fa-fw fa-plus"></i> New</a>
                    {% endif %}
                </h3>
            </div>
            <div class="box-body">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        {% if userCanEditResults %}<th>&nbsp;</th>{% endif %}
                        <th>Conclusion</th>
                        <th>Well Plate Barcode</th>
                        <th>Well Position</th>
                        <th>CT / Amp Score</th>
                        <th>Reported At</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in specimen.QPCRResults %}
                        <tr>
                            {% if userCanEditResults %}
                            <td>
                                <a href="{{ path('results_qpcr_edit', {id: result.id, accessionId: specimen.accessionId}) }}">Edit</a>
                            </td>
                            {% endif %}
                            <td>{{ result.conclusionText }}</td>
                            <td>{{ result.wellPlateBarcode }}</td>
                            <td>{{ result.wellPosition }}</td>
                            <td>
                                {% if result.CT1 is not null %}CT1: {{ result.CT1 }} / {{ result.CT1AmpScore }}<br>{% endif %}
                                {% if result.CT2 is not null %}CT2: {{ result.CT2 }} / {{ result.CT2AmpScore }}<br>{% endif %}
                                {% if result.CT3 is not null %}CT3: {{ result.CT3 }} / {{ result.CT3AmpScore }}<br>{% endif %}
                            </td>
                            <td>{{ result.createdAt | date("Y-m-d g:ia") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}{# End viralResults #}

{% if specimen.type == bloodConstant %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Antibody Results

                    {% if userCanEditResults %}
                    <a href="{{ path('results_antibody_new', {specimenAccessionId: specimen.accessionId}) }}" class="btn btn-success btn-xs" style="margin-left:8px"><i class="fa fa-fw fa-plus"></i> New</a>
                    {% endif %}
                </h3>
            </div>
            <div class="box-body">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        {% if userCanEditResults %}<th>&nbsp;</th>{% endif %}
                        <th>Conclusion</th>
                        <th>Signal</th>
                        <th>Well Plate Barcode</th>
                        <th>Well Position</th>
                        <th>Well ID</th>
                        <th>Reported At</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in specimen.antibodyResults %}
                        <tr>
                            {% if userCanEditResults %}
                            <td>
                                <a href="{{ path('results_antibody_edit', {id: result.id, accessionId: specimen.accessionId}) }}">Edit</a>
                            </td>
                            {% endif %}
                            <td>{{ result.conclusionText }}</td>
                            <td>{{ result.signal }}</td>
                            <td>{{ result.wellPlateBarcode }}</td>
                            <td>{{ result.wellPosition }}</td>
                            <td>{{ result.wellIdentifier }}</td>
                            <td>{{ result.createdAt | date("Y-m-d g:ia") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}{# End viralResults #}

{% endif %}{# End if userCanViewResults #}

{% endblock %}
