{% extends 'base.html.twig' %}
{% set userCanEditSpecimens = is_granted('ROLE_SPECIMEN_EDIT') %}
{% set userCanViewResults = is_granted('ROLE_RESULTS_VIEW') %}
{% set userCanEditResults = is_granted('ROLE_RESULTS_EDIT') %}

{% block page_title %}
    Specimen {{ specimen.accessionId }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    General

                    {% if userCanEditSpecimens %}
                    <a href="{{ path('app_specimen_edit', {accessionId: specimen.accessionId}) }}" class="btn btn-primary btn-xs" style="margin-left:8px"><i class="fa fa-fw fa-edit"></i> Edit</a>
                    {% endif %}
                </h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Accession ID</dt><dd>{{ specimen.accessionId }}</dd>
                    <dt>Participation Group</dt><dd>{{ specimen.participantGroup }}</dd>
                    <dt>Type</dt><dd>{{ specimen.typeText }}</dd>
                    <dt>RNA Well Plate</dt><dd>
                        {% for barcode in specimen.rnaWellPlateBarcodes %}
                        <a href="{{ path('well_plate_view', {barcode: barcode}) }}">{{ barcode }}</a><br>
                        {% endfor %}
                    </dd>
                    <dt>Collection Time</dt><dd>{{ specimen.collectedAt is empty ? "" : specimen.collectedAt|date("Y-m-d g:ia") }}</dd>
                    <dt>CLIA Testing Recommended?</dt><dd>{{ specimen.cliaTestingRecommendedText }}</dd>
                    <dt>Status</dt><dd>{{ specimen.statusText }}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        {% include 'audit-history.html.twig' with {auditLogs: auditLogs} %}
    </div>

</div>

{% if userCanViewResults %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Results

                    {% if userCanEditResults %}
                    <a href="{{ path('app_results_qpcr_new', {accessionId: specimen.accessionId}) }}" class="btn btn-success btn-xs" style="margin-left:8px"><i class="fa fa-fw fa-plus"></i> New</a>
                    {% endif %}
                </h3>
            </div>
            <div class="box-body">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        {% if userCanEditResults %}<th>&nbsp;</th>{% endif %}
                        <th>Conclusion</th>
                        <th>RNA Well Plate Barcode</th>
                        <th>RNA Well Position</th>
                        <th>Reported At</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in specimen.QPCRResults %}
                        <tr>
                            {% if userCanEditResults %}
                            <td>
                                <a href="{{ path('app_results_qpcr_edit', {id: result.id, accessionId: specimen.accessionId}) }}">Edit</a>
                            </td>
                            {% endif %}
                            <td>{{ result.conclusionText }}</td>
                            <td>{{ result.wellPlateBarcode }}</td>
                            <td>{{ result.wellPosition }}</td>
                            <td>{{ result.createdAt | date("Y-m-d H:i:s") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endif %}{# End if userCanViewResults #}

{% endblock %}
