<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th class="text-right" style="width: 75px;">Row #</th>
        <th>Accession ID</th>
        <th class="text-center">Accepted?</th>
        <th>Technician</th>
        <th>Check-in Time</th>
    </tr>
    </thead>

    <tbody>
    {% for tube in importer.output  %}
        {% set trClass = '' %}
        {% set statusContent = '<i class="fa fa-check text-green"></i>' %}
        {% if tube.status == 'REJECTED' %}
            {% set trClass = 'bg-danger' %}
            {% set statusContent = '<i class="fa fa-times text-red"></i>' %}
        {% endif %}
        <tr class="{{ trClass }}">
            <td class="text-right">{{ loop.index0 + importer.startingRow }}</td>
            <td>{{ tube.accessionId }}</td>
            <td class="text-center">{{ statusContent|raw }}</td>
            <td>{{ tube.checkedInByUsername }}</td>
            <td>{{ tube.checkedInAt|date('m/d/Y g:i:sa') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>