<div class="row">
    {# Total Rows #}
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-file-excel"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{ importer.sourceLabel }} ({{ importer.worksheetTitle }})</span>
                <span class="info-box-number">{{ importer.numImportedItems }} Rows</span>
            </div>
        </div>
    </div>

    {# Active Groups #}
    {% if importer.hasGroupsForAction('active') %}
        {% set bgColor = 'bg-green' %}
        {% set actionCount = importer.output['active']|length %}
    {% else %}
        {% set bgColor = 'bg-gray' %}
        {% set actionCount = '-- None --' %}
    {% endif %}
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon {{ bgColor }}"><i class="fas fa-check-circle"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Active Groups</span>
                <span class="info-box-number">{{ actionCount }}</span>
            </div>
        </div>
    </div>

    {# Inactive Groups #}
    {% if importer.hasGroupsForAction('inactive') %}
        {% set bgColor = 'bg-orange' %}
        {% set actionCount = importer.output['inactive']|length %}
    {% else %}
        {% set bgColor = 'bg-gray' %}
        {% set actionCount = '-- None --' %}
    {% endif %}
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon {{ bgColor }}"><i class="fas fa-minus-circle"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Inactive Groups</span>
                <span class="info-box-number">{{ actionCount }}</span>
            </div>
        </div>
    </div>
</div>
