{% block body %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Accession ID</th>
            <th>Title</th>
            <th>Participants</th>
            <th>Active?</th>
            <th>Created</th>
            <th>Last Modified</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr>
            <td>
                <a href="{{ path('app_participant_group_edit', {accessionId: group.accessionId}) }}">Edit</a>
            </td>
            <td>
                <a href="{{ path('app_participant_group_view', {accessionId: group.accessionId}) }}">{{ group.accessionId }}</a>
            </td>
            <td>{{ group.title }}</td>
            <td>{{ group.participantCount }}</td>
            <td>
                {% if group.isActive() %}
                    <i class="fa fa-check text-green"></i>
                {% endif %}
            </td>
            <td>{{ group.createdAt | date("Y-m-d H:i:s") }}</td>
            <td>{{ group.updatedAt | date("Y-m-d H:i:s") }}</td>
            <th><a href="{{ path('app_participant_group_print', {accessionId: group.accessionId}) }}" title="Print Participant Group Labels"><i class="fa fa-fw fa-print"></i></a></th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
