{% block body %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Title</th>
            <th>Participants</th>
            <th>Drop-off Times</th>
            <th>Created</th>
            <th>Last Modified</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr>
            <td>
                <a href="{{ path('app_participant_group_edit', {title: group.title}) }}">Edit</a>
            </td>
            <td>
                <a href="{{ path('app_participant_group_view', {title: group.title}) }}">{{ group.title }}</a>
            </td>
            <td>{{ group.participantCount }}</td>
            <td>
                {% for window in group.getDropOffWindows() %}
                    {{ window.getDisplayString() }}
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ group.createdAt | date("Y-m-d H:i:s") }}</td>
            <td>{{ group.updatedAt | date("Y-m-d H:i:s") }}</td>
            <td><a href="{{ path('app_participant_group_print', {title: group.title}) }}" class="btn btn-primary btn-xs" style="margin-left:8px;"><i class="fa fa-fw fa-print"></i> Print Badge Labels</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
