{% block body %}
{% set userCanEditGroups = is_granted('ROLE_PARTICIPANT_GROUP_EDIT') %}
{% set userCanPrintLabels = is_granted('ROLE_PRINT_GROUP_LABELS') %}

{% macro tableBadge(appearActive, text, title='') %}
    <span class="badge {{ appearActive ? 'bg-green' : 'bg-gray' }}" title="{{ title }}" style="margin-right:3px">{{ text }}</span>
{% endmacro %}

{% if userCanPrintLabels %}
    <div class="margin-bottom">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#labelPrintModal">
           <i class="fa fa-fw fa-id-badge"></i> Print Selected Group Labels
        </button>
    </div>
{% endif %}


<table id="group-list-table" class="table table-bordered table-hover">
    <thead>
        <tr>
            {% if userCanPrintLabels %}
            <th class="no-sort" style="width: 2em;"><input type="checkbox" id="check-all"></th>
            {% endif %}

            {% if userCanEditGroups %}
            <th class="no-sort">&nbsp;</th>
            {% endif %}

            <th>Title</th>
            <th>Participants</th>
            <th>Created</th>
            <th>Last Modified</th>
            <th>Active?</th>
            <th class="no-sort">Accepted Specimens</th>
            <th class="no-sort">Results<br>to Web Hooks</th>
        </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr>
            {% if userCanPrintLabels %}
            <td>
                <input type="checkbox" class="tube-checkbox" form="print-form" name="groups[]" value="{{ group.title }}">
            </td>
            {% endif %}

            {% if userCanEditGroups %}
            <td>
                <a href="{{ path('app_participant_group_edit', {title: group.title}) }}">Edit</a>
            </td>
            {% endif %}

            <td>
                <a href="{{ path('app_participant_group_view', {title: group.title}) }}">{{ group.title }}</a>
            </td>
            <td>{{ group.participantCount }}</td>
            <td class="nowrap-cell" data-sort="{{ group.createdAt|date("U")|e("html_attr") }}">{{ group.createdAt | date("Y-m-d H:i:s") }}</td>
            <td class="nowrap-cell" data-sort="{{ group.updatedAt|date("U")|e("html_attr") }}">{{ group.updatedAt | date("Y-m-d H:i:s") }}</td>
            <td>{% spaceless %}
                {% set activeText = group.isActive ? 'Yes' : 'No' %}
                {{ _self.tableBadge(group.isActive, activeText) }}
            {% endspaceless %}</td>
            <td>{% spaceless %}
                {% if group.acceptsSalivaSpecimens %}
                    {% set salivaTitle = 'Saliva specimens allowed' %}
                    {% if not group.isActive %}
                        {% set salivaTitle = 'Saliva specimens marked Yes, but Group inactive, so will not be accepted' %}
                    {% endif %}
                    {{ _self.tableBadge(group.isActive, 'S', salivaTitle) }}
                {% endif %}

                {% if group.acceptsBloodSpecimens %}
                    {% set bloodTitle = 'Blood specimens allowed' %}
                    {% if not group.isActive %}
                        {% set bloodTitle = 'Blood specimens marked Yes, but Group inactive, so will not be accepted' %}
                    {% endif %}
                    {{ _self.tableBadge(group.isActive, 'B', bloodTitle) }}
                {% endif %}
            {% endspaceless %}</td>
            <td>{% spaceless %}
                {% if group.viralResultsWebHooksEnabled %}
                    {% set viralWebHookTitle = 'Viral Results will be sent to web hooks' %}
                    {% if not group.isActive %}
                        {% set viralWebHookTitle = 'Viral Results to web hooks marked Yes, but Group inactive, so will not be sent' %}
                    {% endif %}
                    {{ _self.tableBadge(group.isActive, 'V', viralWebHookTitle) }}
                {% endif %}

                {% if group.antibodyResultsWebHooksEnabled %}
                    {% set antibodyWebHookTitle = 'Antibody Results will be sent to web hooks' %}
                    {% if not group.isActive %}
                        {% set antibodyWebHookTitle = 'Antibody Results to web hooks marked Yes, but Group inactive, so will not be sent' %}
                    {% endif %}
                    {{ _self.tableBadge(group.isActive, 'A', antibodyWebHookTitle) }}
                {% endif %}
            {% endspaceless %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if userCanPrintLabels %}
<div class="modal fade modal-primary" id="labelPrintModal" tabindex="-1" role="dialog" aria-labelledby="labelPrintModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(form, {
                "attr": {"id":"print-form"}
            }) }}
            <div class="modal-header">
                <h4 class="modal-title text-center" id="labelPrintModalLabel">Print Group Labels</h4>
            </div>
            <div class="modal-body">
                {{ form_row(form.printer, {
                    'attr': {
                        'form': 'print-form'
                    }
                }) }}
                {# Don't render the numToPrint field since the backend will print the group count #}
                {% do form.numToPrint.setRendered() %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><i class="fa fa-chevron-left"></i> Cancel</button>
                {{ form_row(form.print, {
                    'attr': {
                        'form': 'print-form'
                    }
                }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script type="application/javascript">
    $('#check-all').change(function() {
        $(".tube-checkbox").prop('checked', $(this).is(':checked'));
    });

    // Enable DataTable for table of Groups
    $('#group-list-table').DataTable({
        // Disable global table search field. We provide our own column search filters.
        searching: false,

        // Disable paging so users can view all records at once.
        paging: false,

        // Display info line before table instead of after it.
        // Also hides {pagination}, {length} and {filter} blocks because we don't use them.
        // Renders blocks as:
        // {information}
        // {table}
        // https://datatables.net/reference/option/dom
        dom: 'it',

        // Re-word {information} block to only show record count.
        // Normally this area includes page counts but our paging is disabled,
        // so just display the full count.
        // https://datatables.net/reference/option/infoCallback
        infoCallback: function(settings, start, end, max, total, pre) {
            return "<strong>Found " + total + " records</strong>";
        },

        // Disable some features for select columns.
        // https://datatables.net/reference/option/columnDefs
        columnDefs: [
            {
                targets: 'no-sort',
                orderable: false
            }
        ],

        // Default sort on Last Modified column with most recent at top
        order: [[6, 'desc'], [5, 'desc']],

        // Sort columns using first <thead> row
        // instead of last row (which contain our filter form widgets)
        "bSortCellsTop": true,

        // Text displayed when no results found
        "language": {
            "emptyTable": "<em>No results found. Remove filters to display records.</em>"
        }
    });
</script>
{% endif %}

{% endblock %}