{% extends 'base.html.twig' %}
{% set userCanEditGroups = is_granted('ROLE_PARTICIPANT_GROUP_EDIT') %}

{% block page_title %}
    Participant Group {{ group.title }}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    General

                    {% if userCanEditGroups %}
                    <a href="{{ path('app_participant_group_edit', {title: group.title}) }}" class="btn btn-primary btn-xs" style="margin-left:8px;"><i class="fa fa-fw fa-edit"></i> Edit</a>
                    {% endif %}
                </h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Title</dt><dd>{{ group.title }}</dd>
                    <dt>Accession ID</dt><dd>{{ group.accessionId }}</dd>
                    <dt>External ID</dt><dd>{{ group.externalId }}</dd>
                    <dt>Participants</dt><dd>{{ group.participantCount }}</dd>
                    <dt>Is Active?</dt><dd>{{ group.isActive ? 'Yes' : 'No' }}</dd>
                    <dt>Is Control Group?</dt><dd>{{ group.isControl ? 'Yes' : 'No' }}</dd>
                    <dt>Publish Viral Results to Web Hooks?</dt><dd>{{ group.viralResultsWebHooksEnabled ? 'Yes' : 'No' }}</dd>
                    <dt>Publish Antibody Results to Web Hooks?</dt><dd>{{ group.antibodyResultsWebHooksEnabled ? 'Yes' : 'No' }}</dd>
                    <dt>Drop-off Times</dt>
                    <dd>
                        <ul>
                            {% for window in group.getDropOffWindows() %}
                                <li>{{ window.getDisplayString() }}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        {% include 'audit-history.html.twig' with {auditLogs: auditLogs} %}
    </div>

</div>

{% endblock %}
