{% extends 'base.html.twig' %}

{% block page_title %}
    Participant Group {{ group.accessionId }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">General <a href="{{ path('app_participant_group_edit', {accessionId: group.accessionId}) }}" class="btn btn-primary btn-xs" style="margin-left:8px;"><i class="fa fa-fw fa-edit"></i> Edit</a></h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Accession ID</dt><dd>{{ group.accessionId }}</dd>
                    <dt>Title</dt><dd>{{ group.title }}</dd>
                    <dt>Participants</dt><dd>{{ group.participantCount }}</dd>
                    <dt>Created At</dt><dd>{{ group.createdAt | date('Y-m-d H:i:s') }}</dd>
                    <dt>Updated At</dt><dd>{{ group.updatedAt | date('Y-m-d H:i:s') }}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        {% include 'audit-history.html.twig' with {auditLogs: auditLogs} %}
    </div>

</div>

{% endblock %}
