{% block body %}
{{ form_start(form) }}
{{ form_row(form.printer) }}
{{ form_row(form.print) }}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="width: 2em;"><input type="checkbox" id="check-all"></th>
            <th>&nbsp;</th>
            <th>Title</th>
            <th>Participants</th>
            <th>Drop-off Times</th>
            <th>Created</th>
            <th>Last Modified</th>
            {% if is_granted('ROLE_PRINT_GROUP_LABELS') %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr>
            <td>
                <input type="checkbox" class="tube-checkbox" name="groups[]" value="{{ group.title }}">
            </td>
            <td>
                <a href="{{ path('app_participant_group_edit', {title: group.title}) }}">Edit</a>
            </td>
            <td>
                <a href="{{ path('app_participant_group_view', {title: group.title}) }}">{{ group.title }}</a>
            </td>
            <td>{{ group.participantCount }}</td>
            <td>
                {% for window in group.getDropOffWindows() %}
                    {{ window.getDisplayString() }}
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ group.createdAt | date("Y-m-d H:i:s") }}</td>
            <td>{{ group.updatedAt | date("Y-m-d H:i:s") }}</td>
            {% if is_granted('ROLE_PRINT_GROUP_LABELS') %}
            <td><a href="{{ path('app_participant_group_print', {title: group.title}) }}" class="btn btn-primary btn-xs" style="margin-left:8px;"><i class="fa fa-fw fa-print"></i> Print Badge Labels</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ form_end(form) }}
<script type="application/javascript">
    $('#check-all').change(function() {
        $(".tube-checkbox").prop('checked', $(this).is(':checked'));
    });
</script>

{% endblock %}
