<table id="kiosk-list-table" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Label</th>
        <th>Location</th>
        <th>Healthy?</th>
        <th>State</th>
        <th>Idle</th>
        <th>Version</th>
        <th>Device IP</th>
    </tr>
    </thead>
    <tbody>
    {% for kiosk in kiosks %}
        {% set prnHealth = '-- Unknown --' %}
        {% if not kiosk.provisioned %}
            {% set prnHealth = '<i class="fa fa-exclamation-triangle text-yellow"></i> Not Provisioned' %}
        {% else %}
            {% set prnLastHeartbeatAt = kiosk.lastHeartbeatAt|date('Y-m-d g:ia') %}
            {% if kiosk.lastHeartbeatAt is empty %}
                {% set prnLastHeartbeatAt = '-- Never Reported --' %}
            {% else %}
                {% if kiosk.isStaleHeartbeat() %}
                    {% set prnHealth = '<i class="fa fa-exclamation-triangle text-yellow"></i> Last heartbeat: ' ~ prnLastHeartbeatAt %}
                {% else %}
                    {% set prnHealth = '<i class="fa fa-check-circle text-green"></i>' %}
                {% endif %}
            {% endif %}
        {% endif %}

        <tr>
            <td>
                <a href="{{ path('kiosk_admin_edit', {kioskId: kiosk.id}) }}">Edit</a>
            </td>
            <td>{{ kiosk.label }}</td>
            <td>{{ kiosk.location }}</td>
            <td>{{ prnHealth|raw }}</td>
            <td>{{ kiosk.lastHeartbeatState }}</td>
            <td>{{ kiosk.getPrnIdleTime() }}</td>
            <td>{{ kiosk.lastHeartbeatVersionId }}</td>
            <td>{{ kiosk.lastHeartbeatIp }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="application/javascript">
    // Enable DataTable for table of Specimens
    $('#kiosk-list-table').DataTable({
        // Disable paging so users can view all records at once.
        paging: false,

        // Display info line before table instead of after it.
        // Also hides {pagination}, {length} blocks because we don't use them.
        // Renders blocks as:
        // {filter}
        // {information}
        // {table}
        // https://datatables.net/reference/option/dom
        dom: 'fit',

        // Re-word {information} block to only show record count.
        // Normally this area includes page counts but our paging is disabled,
        // so just display the full count.
        // https://datatables.net/reference/option/infoCallback
        infoCallback: function(settings, start, end, max, total, pre) {
            return "<strong>Found " + total + " records</strong>";
        },

        // Disable some features for select columns.
        // https://datatables.net/reference/option/columnDefs
        columnDefs: [
            {
                targets: 0,
                orderable: false
            }
        ],

        // Default sort on Label column alphabetical
        order: [[1, 'asc']],

        // Text displayed when no results found
        "language": {
            "emptyTable": "<em>No results found. Remove filters to display records.</em>"
        }
    });
</script>
