{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ numActiveGroups }}</h3>

                    <p>Participant Groups</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                {% if is_granted('ROLE_PARTICIPANT_GROUP_VIEW') %}
                    <a href="{{ path('app_participant_group_list') }}" class="small-box-footer">
                        View Groups <i class="fa fa-arrow-circle-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_SPECIMEN_CHECK_IN') %}
        <h2>Specimens</h2>

        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ numTubesReturned }}</h3>

                        <p>Dropped Off (awaiting checkin)</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-check-square"></i>
                    </div>
                    <a href="{{ path('specimen_intake_start') }}" class="small-box-footer">
                        Check in Specimens <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ numSpecimensInProcess }}</h3>

                        <p>In Process</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-check-square"></i>
                    </div>
                    {# todo: link to results upload #}
                    <a href="{{ path('specimen_intake_start') }}" class="small-box-footer">
                        Upload Results <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}