{% macro activeClass(path) %}
    {% set currentUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    {% set checkUrl = path(path) %}
    {% if currentUrl == checkUrl %}active{% endif %}
{% endmacro %}

{#
Renders a top-level navigation node in the tree navigation.

@param parentText (string) Top-level navigation item's text
@param parentIconClass (string) CSS class for Font Awesome class icon (i.e. fa-list)
@param children (array) Array of hashes. See childrenItem params below.
@param childrenItem.text (string) Navigation link text
@param childrenItem.iconClass (string) CSS classes for Font Awesome icon next to nav item (i.e. fa-list)
@param childrenItem.route (string) Name of Controller route linked to
@param mustHaveOnePermissionToView (array) Optional. Array of strings. User must have one or more of these roles to view.
#}
{% macro treenode(parentText, parentIconClass, children, mustHaveOneRoleToView) %}
    {% set canView = true %}
    {% if mustHaveOneRoleToView|length > 0 %}
        {% set canView = false %}
        {% for requiredRole in mustHaveOneRoleToView %}
            {% if not canView and is_granted(requiredRole) %}
                {% set canView = true %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if canView %}
    <li class="treeview {% for child in children %}{{ _self.activeClass(child.route) }}{% endfor %}">
        <a href="#">
            <i class="fa {{ parentIconClass }}"></i> <span>{{ parentText }}</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            {% for child in children %}
            <li class="{{ _self.activeClass(child.route) }}"><a href="{{ path(child.route) }}"><i class="fa {{ child.iconClass }}"></i> {{ child.text }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
{% endmacro %}
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree" data-animation-speed="150" data-accordion="false">
        {{
            _self.treenode('Specimens', 'fa-flask', [
                {
                    text: 'List',
                    iconClass: 'fa-list',
                    route: 'app_specimen_list'
                },
                {
                    text: 'New',
                    iconClass: 'fa-plus',
                    route: 'app_specimen_new'
                },
            ])
        }}
        {{
        _self.treenode('Check-In', 'fa-flask', [
            {
                text: 'Queue',
                iconClass: 'fa-list',
                route: 'checkin_queue'
            },
            {
                text: 'Import Approve/Reject',
                iconClass: 'fa-upload',
                route: 'checkin_import_start'
            },
        ], ['ROLE_SPECIMEN_CHECK_IN'])
        }}
        {{
            _self.treenode('Participant Groups', 'fa-users', [
                {
                    text: 'List',
                    iconClass: 'fa-list',
                    route: 'app_participant_group_list'
                },
                {
                    text: 'New',
                    iconClass: 'fa-plus',
                    route: 'app_participant_group_new'
                },
                {
                    text: 'Import',
                    iconClass: 'fa-upload',
                    route: 'group_excel_import'
                },
            ])
        }}
        {{
            _self.treenode('Results', 'fa-th', [
                {
                    text: 'List',
                    iconClass: 'fa-list',
                    route: 'app_results_qpcr_list'
                },
            ])
        }}
        {{
            _self.treenode('Reports', 'fa-bar-chart', [
                {
                    text: 'Group Results',
                    iconClass: 'fa-list',
                    route: 'app_report_group_results'
                },
            ])
        }}
        {{
            _self.treenode('Label Printers', 'fa-print', [
                {
                    text: 'Print Specimen Labels',
                    iconClass: 'fa-print',
                    route: 'app_label_printer_print_specimen_labels'
                },
                {
                    text: 'List',
                    iconClass: 'fa-list',
                    route: 'app_labelprinter_list'
                },
                {
                    text: 'Test',
                    iconClass: 'fa-plus',
                    route: 'app_labelprinter_testprint'
                },
            ])
        }}
        {% if is_granted('ROLE_ADMIN') %}
        {{
            _self.treenode('Users', 'fa-users', [
                {
                    text: 'View Users',
                    iconClass: 'fa-list',
                    route: 'user_list'
                },
                {
                    text: 'Add User',
                    iconClass: 'fa-plus',
                    route: 'user_new'
                },
            ])
        }}
        {% endif %}
    </ul>
</section>
