{% macro activeClass(path) %}
    {% set currentUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    {% set checkUrl = path(path) %}
    {% if currentUrl == checkUrl %}active{% endif %}
{% endmacro %}

{#
Renders a top-level navigation node in the tree navigation.

@param parentText (string) Top-level navigation item's text
@param parentIconClass (string) CSS class for Font Awesome class icon (i.e. fa-list)
@param children (array) Array of hashes. See childrenItem params below.
@param childrenItem.text (string) Navigation link text
@param childrenItem.iconClass (string) CSS classes for Font Awesome icon next to nav item (i.e. fa-list)
@param childrenItem.route (string) Name of Controller route linked to
#}
{% macro treenode(parentText, parentIconClass, children) %}
    <li class="treeview {% for child in children %}{{ _self.activeClass(child.route) }}{% endfor %}">
        <a href="#">
            <i class="fa {{ parentIconClass }}"></i> <span>{{ parentText }}</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            {% for child in children %}
            <li class="{{ _self.activeClass(child.route) }}"><a href="{{ path(child.route) }}"><i class="fa {{ child.iconClass }}"></i> {{ child.text }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endmacro %}
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree" data-animation-speed="150" data-accordion="false">
        <li class="header">MAIN NAVIGATION</li>

        {{
            _self.treenode('Specimens', 'fa-flask', [
                {
                    text: 'List',
                    iconClass: 'fa-list',
                    route: 'app_specimen_list'
                },
                {
                    text: 'New',
                    iconClass: 'fa-plus',
                    route: 'app_specimen_new'
                },
            ])
        }}
        {{
            _self.treenode('Well Plates', 'fa-th', [
                {
                    text: 'List',
                    iconClass: 'fa-list',
                    route: 'app_wellplate_list'
                },
                {
                    text: 'New',
                    iconClass: 'fa-plus',
                    route: 'app_wellplate_new'
                },
            ])
        }}
        {{
            _self.treenode('Participant Groups', 'fa-users', [
                {
                    text: 'List',
                    iconClass: 'fa-list',
                    route: 'app_participant_group_list'
                },
                {
                    text: 'New',
                    iconClass: 'fa-plus',
                    route: 'app_participant_group_new'
                },
                {
                    text: 'Bulk Import',
                    iconClass: 'fa-upload',
                    route: 'group_excel_import'
                },
            ])
        }}
        {{
            _self.treenode('Label Printers', 'fa-print', [
                {
                    text: 'List',
                    iconClass: 'fa-list',
                    route: 'app_labelprinter_list'
                },
                {
                    text: 'Test Print',
                    iconClass: 'fa-plus',
                    route: 'app_labelprinter_testprint'
                },
            ])
        }}
    </ul>
</section>
