<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.25">
    <title>{% block title %}COVIDTrack Kiosk{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}" />
    <link rel="manifest" href="/manifest-kiosk.json">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <style>
        .content-wrapper {
            margin-left: 0;
        }
    </style>
</head>
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">
                        <!-- logo for regular state and mobile devices -->
                        <img src="{{ asset('images/logo-white.svg') }}">
                        <span class="logo-lg">
                            <b>COVID</b>Track
                        </span>
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="navbar-collapse" class="collapse navbar-collapse pull-left">
                    <ul class="nav navbar-nav">
                        <li><a href="#" onclick="window.location.reload();"><i class="fa fa-fw fa-redo"></i>Refresh</a></li>
                        <li class="text text-gray">v{{ app_current_version }}</li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>

    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            {% block body %}{% endblock %}
        </section>
    </div>

    <div class="modal fade" id="maintenanceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="myModalLabel"><i class="fa fa-exclamation-triangle text-yellow"></i> System Maintenance <i class="fa fa-exclamation-triangle text-yellow"></i></h4>
                </div>
                <div class="modal-body">
                    <i class="fa fa-spin fa-spinner"></i> Reconnecting...
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-lg btn-default" onclick="window.location.reload();"><i class="fa fa-fw fa-redo"></i> Reload</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-default" id="timeoutModal" tabindex="-1" role="dialog" aria-labelledby="timoutModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="timoutModalLabel"><i class="fa fa-exclamation-triangle text-yellow"></i> Are You Still There? <i class="fa fa-exclamation-triangle text-yellow"></i></h4>
                </div>
                <div class="modal-body">
                    This kiosk session is expiring. If you are still completing your drop off, please click the button below. Information from previous pages will be saved.
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-lg btn-primary" onclick="startTimeoutClock();"><i class="fa fa-fw fa-clock"></i> Continue this drop off (<span id="timeoutCountdown"></span>)</a>
                </div>
            </div>
        </div>
    </div>

    {% block modal %}{% endblock %}

    <div class="modal fade" id="loadingMask" tabindex="-1" role="dialog" aria-labelledby="loadingMaskLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="loadingMaskLabel"><i class="fa fa-spin fa-virus"></i> Processing...</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{# Kiosk Heartbeat scripts #}
<script>
    function showMaintenanceModal() {
        $('#maintenanceModal').modal('show');
    }

    function hideMaintenanceModal() {
        $('#maintenanceModal').modal('hide');
    }

    function doHeartbeat() {
        var hbData = {
            appVersion: "{{ app_current_version|escape('js') }}",
            // Number of seconds since the page loaded
            idleSeconds: Math.round(((new Date()).getTime() - CT_PAGE_LOADED_AT.getTime()) / 1000),
            state: "{{ kiosk_state|default('PROVISIONING')|escape('js') }}"
        };

        $.ajax('{{ path('kiosk_heartbeat') }}', {
            method: 'POST',
            data: hbData
        })
            .done(function(data, status, xhr) {
                if(xhr.getResponseHeader('content-type').startsWith('text/html')) {
                    console.log('Heartbeat response was HTML, reloading the page.');
                    window.location.reload();
                }

                // A successful response should clear the maintenance modal
                hideMaintenanceModal();

                if (data.isError) {
                    // Not showing anything to the client since there's nothing they can do about it
                    console.error("HB Error: " + data.message);
                    return;
                }

                // If the server is running a different version than we are refresh the page
                // Only do this if we're in the idle "waiting for user" state
                if (data.appVersion && data.appVersion != hbData.appVersion) {
                    if (hbData.state === 'WAITING_DROPOFF_START') location.reload(true);
                }
            })
            .fail(function(xhr, textStatus, error) {
                console.log("error in response: " + textStatus + " " + error);

                // Prevent kiosk interaction until successful heartbeat (see success())
                showMaintenanceModal();
            });
    }

    CT_PAGE_LOADED_AT = new Date();

    // Send a heartbeat when the page loads
    doHeartbeat();
    // and then every 60 seconds
    setInterval(doHeartbeat, 60 * 1000);

    function showTimeoutModal() {
        $('#timeoutModal').modal('show');
    }

    function hideTimeoutModal() {
        $('#timeoutModal').modal('hide');
    }

    {% if kioskSession is defined %}
        let timeoutData = {
            timeout: 300,
            timeoutIntervalId: null,
            warningTime: 10,
            warningIntervalId: null,
            expireDate: null,
        };

        function updateCountdown() {
            let timeoutLeftDuration = moment.duration(timeoutData.expireDate.diff(moment()));
            let secondsLeft = Math.round(timeoutLeftDuration.as('seconds'));
            if (secondsLeft >= 0) {
                $('#timeoutCountdown').text(secondsLeft);
            }
            setTimeout(updateCountdown, 1000);
        }

        function doTimeoutWarning() {
            showTimeoutModal();
        }

        function doTimeout() {
            console.log("expiring session");
            window.location = "{{ path('kiosk_expire', {id: kioskSession.id}) }}"
        }

        function startTimeoutClock() {
            hideTimeoutModal();

            clearInterval(timeoutData.timeoutIntervalId);
            clearInterval(timeoutData.warningIntervalId);

            timeoutData.timeoutIntervalId = setInterval(doTimeout, (timeoutData.timeout) * 1000);
            timeoutData.warningIntervalId = setInterval(doTimeoutWarning, (timeoutData.timeout - timeoutData.warningTime) * 1000);
            timeoutData.expireDate = moment().add(timeoutData.timeout, 'seconds');
        }

        startTimeoutClock();
        updateCountdown();

    {% endif %}

    $('form').submit(function() {
        $('#loadingMask').modal('show');
    });
</script>
</body>
</html>
