{% extends 'kiosk/kiosk-base.html.twig' %}

{% block page_title %}COVIDTrack Kiosk{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {
                    'attr': {
                        'autocomplete': 'off',
                    }
                })
            }}
            {{ form_errors(form) }}
            <h3><i class="fa fa-fw fa-vial"></i> Tube Label ID</h3>
            {{ form_row(form.accessionId, {
                'label': false,
                'attr': {'class': 'input-lg'}
            }) }}

            <div id="tubeDetails" class="collapse">
                {{ form_row(form.tubeType) }}
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.collectedAtDate) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.collectedAtTime) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 text-right">
                        {{ form_row(form.save) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.done) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#cancelDropOff">
                        <i class="fa fa-fw fa-trash"></i>
                        Cancel Drop Off
                    </button>
                </div>
            </div>
            {{ form_end(form) }}


        </div>
    </div>
    {%  include 'kiosk/scan-help.html.twig' %}
{% endblock %}

{% block modal %}
    <div class="modal fade" id="cancelDropOff" tabindex="-1" role="dialog" aria-labelledby="cancelLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-red">
                    <h4 class="modal-title text-center" id="cancelLabel"><i class="fa fa-exclamation-triangle"></i> Cancel Drop Off</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to cancel this drop off?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg pull-left" data-dismiss="modal"><i class="fa fa-fw fa-chevron-left"></i>Go Back</button>
                    {{ form_start(cancelForm) }}
                    {{ form_row(cancelForm.cancel,
                        {
                            'attr': {'class': 'btn-lg btn-danger'},
                            'label': 'Yes, cancel'
                        }
                    ) }}
                    {{ form_end(cancelForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        // What to do when scanner input
        $(document).on( "scannerinput", function(e, inputString) {
            if (!$("[data-scanner-input]").focused) {
                $("[data-scanner-input]").val(inputString).trigger('input');
            }
        });

        $(document).ready(function(){
            $("input").on('input', function(e) {
                console.log(e);
                if($(e.target).val() !== "") {
                    $("#tubeDetails").collapse('show');
                    $("#scanTip").hide();
                } else {
                    $("#tubeDetails").collapse('hide');
                    $("#scanTip").show();
                }
            });
        });

    </script>
{% endblock %}