{% block body %}
<table id="printers-list-table" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Host</th>
            <th>Description</th>
            <th>DPI</th>
            <th>Media Width</th>
            <th>Media Height</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
    {% for printer in printers %}
        <tr>
            <td>
                <a href="{{ path('app_labelprinter_update', {id: printer.id}) }}">{{ printer.title }}</a>
            </td>
            <td>{{ printer.host }}</td>
            <td>{{ printer.description }}</td>
            <td>{{ printer.dpi }}</td>
            <td>{{ printer.mediaWidthIn }}in</td>
            <td>{{ printer.mediaHeightIn }}in</td>
            <td>{{ printer.isActive ? 'Yes' : 'No' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    <script type="application/javascript">
        // Enable DataTable for table of Printers
        $('#printers-list-table').DataTable({
            // Disable paging so users can view all records at once.
            paging: false,

            // Display info line before table instead of after it.
            // Also hides {pagination}, {length} blocks because we don't use them.
            // Renders blocks as:
            // {filter}
            // {information}
            // {table}
            // https://datatables.net/reference/option/dom
            dom: 'fit',

            // Re-word {information} block to only show record count.
            // Normally this area includes page counts but our paging is disabled,
            // so just display the full count.
            // https://datatables.net/reference/option/infoCallback
            infoCallback: function(settings, start, end, max, total, pre) {
                return "<strong>Displaying " + max + " records</strong>";
            },

            // Default sort on Title column alphabetically
            order: [[0, 'asc']],

            // Text displayed when no results found
            "language": {
                "emptyTable": "<em>No results found. Remove filters to display records.</em>"
            }
        });
    </script>
{% endblock %}
