{% block body %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="width: 2em;">ID</th>
            <th>Title</th>
            <th>Host</th>
            <th>Description</th>
            <th>DPI</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
    {% for printer in printers %}
        <tr>
            <td>
                <a href="{{ path('app_labelprinter_update', {id: printer.id}) }}">{{ printer.id }}</a>
            </td>
            <td>{{ printer.title }}</td>
            <td>{{ printer.host }}</td>
            <td>{{ printer.description }}</td>
            <td>{{ printer.dpi }}</td>
            <td>{{ printer.isActive }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}