{% block body %}
{% set userCanViewWebHooks = is_granted("ROLE_WEB_HOOKS") %}

    {% include 'flash.html.twig' %}

    <div class="margin-bottom">
        {% if userCanViewWebHooks %}
        <div class="pull-right">
            <strong>Web Hooks:</strong>
            <button id="republishWebHooksBtn" type="button" class="btn btn-sm btn-success">
                <i class="fas fa-fw fa-sync-alt"></i> Re-Publish
            </button>
            <button id="neverSendWebHooksBtn" type="button" class="btn btn-sm btn-danger">
                <i class="fas fa-fw fa-times-circle"></i> Never Send
            </button>
        </div>
        {% endif %}
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#labelPrintModal">
            <i class="fa fa-fw fa-print"></i> Re-Print Selected Tubes
        </button>
    </div>

    <table class="table table-bordered table-hover">
        {{ form_start(filterForm) }}
        <thead>
            <tr>
                <th style="width: 2em;"><input type="checkbox" id="check-all"></th>
                <th>Accession ID</th>
                <th>Type</th>
                <th>Kit Type</th>
                <th>Status</th>
                <th>Printed At</th>
                {% if userCanViewWebHooks %}<th>Web Hook Status</th>{% endif %}
                {% if userCanViewWebHooks %}<th>Web Hook Last Sent</th>{% endif %}
            </tr>

            <tr id="tube-filter-row">
                <th><!-- Check All --></th>
                <th><!-- Accession ID --></th>
                <th>
                    <!-- Tube Type -->
                    {{ form_row(filterForm.tubeType, {
                        'attr': {'class': 'submit-on-change'}
                    }) }}
                </th>
                <th><!-- Kit Type --></th>
                <th>
                    <!-- Status -->
                    {{ form_row(filterForm.status, {
                        'attr': {'class': 'submit-on-change'}
                    }) }}
                </th>
                <th>
                    <!-- Printed At -->
                    {{ form_row(filterForm.createdAt, {
                        'attr': {'class': 'filter-datepicker'}
                    }) }}
                </th>
                {% if userCanViewWebHooks %}<th>
                    <!-- Web Hook Status -->
                    {{ form_row(filterForm.webHookStatus, {
                        'attr': {'class': 'submit-on-change'}
                    }) }}
                </th>{% endif %}
                {% if userCanViewWebHooks %}<th>
                    <!-- Web Hook Published At -->
                    {{ form_row(filterForm.webHookLastTriedPublishingAt, {
                        'attr': {'class': 'filter-datepicker'}
                    }) }}
                </th>{% endif %}
            </tr>
        </thead>
        {{ form_end(filterForm) }}

        {{ form_start(printForm) }}
        <tbody>
        {% for tube in tubes %}
            <tr>
                <td>
                    <input type="checkbox" class="tube-checkbox" name="tubes[]" value="{{ tube.accessionId }}">
                </td>
                <td>{{ tube.accessionId }}</td>
                <td>{{ tube.typeText }}</td>
                <td>{{ tube.kitType }}</td>
                <td>{{ tube.statusText }}</td>
                <td>{{ tube.printedAt is empty ? '' : tube.printedAt|date("Y-m-d g:ia") }}</td>
                {% if userCanViewWebHooks %}<td>{% spaceless %}
                    {{ tube.webHookStatus }}
                    {% if tube.webHookStatusMessage %}
                        <i class="fas fa-question-circle question-icon-help" title="{{ tube.webHookStatusMessage|e("html_attr") }}"></i>
                    {% endif %}
                {% endspaceless %}</td>{% endif %}
                {% if userCanViewWebHooks %}<td>{{ tube.webHookLastTriedPublishingAt ? tube.webHookLastTriedPublishingAt|date("Y-m-d H:i:s") : ''}}</td>{% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="{{ userCanViewWebHooks ? "8" : "6" }}" class="danger text-center">No results found</td>
            </tr>
        {% endfor %}
        </tbody>

        <div class="modal fade modal-primary" id="labelPrintModal" tabindex="-1" role="dialog" aria-labelledby="labelPrintModalLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="labelPrintModalLabel">Re-Print Selected Tubes</h4>
                    </div>
                    <div class="modal-body">
                        {{ form_row(printForm.printer) }}
                        {{ form_row(printForm.labelType) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><i class="fa fa-chevron-left"></i> Cancel</button>
                        {{ form_row(printForm.print) }}
                    </div>
                    {{ form_end(printForm) }}
                </div>
            </div>
        </div>
    </table>

<script type="application/javascript">
    // Enable Date Picker for filter elements
    let datepickers = $('.filter-datepicker').datepicker({
        format: 'yyyy-mm-dd',
        clearBtn: true,
        todayBtn: "linked",
        todayHighlight: true
    });

    // Submit filter form when datepicker closes.
    // Does NOT use .submit-on-change class because datepicker updates input
    // value when selecting from calendar.
    datepickers.on("hide", function(e) {
        $(this.form).submit();
    });

    // Submit filter form when a form widget changes
    $('#tube-filter-row .submit-on-change').on('change', function() {
        $(this.form).submit();
    });

    // Any filter form widget with a value appears visually highlighted
    // so easier to see when filters affect search results
    $('#tube-filter-row input, #tube-filter-row select').each(function() {
        let cssClassWhenHasValue = 'filter-with-value';

        let formWidget = $(this);
        if (formWidget.val() !== '') {
            formWidget.addClass(cssClassWhenHasValue);
        } else {
            formWidget.removeClass(cssClassWhenHasValue);
        }
    });
</script>

{% if userCanViewWebHooks %}
    <script type="application/javascript">
        /**
         * Set checked Tubes to given status.
         * @param webHookStatus {String} Tube::WEBHOOK_STATUS_* constant
         */
        function setTubeWebHookStatus(webHookStatus) {
            const checkedTubes = $('.tube-checkbox:checked');
            const tubeAccessionIds = jQuery.map(checkedTubes, function(checkboxEl) {
                return $(checkboxEl).val();
            });
            if (tubeAccessionIds.length < 1) {
                alert("Check 1 or more Tubes");
                return;
            }

            const url = "{{ path('tube_web_hook_status') }}";
            const params = {
                tubeAccessionIds: tubeAccessionIds,
                webHookStatus: webHookStatus
            };
            $.post(url, params)
                .fail(function(responseObj) {
                    // Error happened, show it
                    const response = responseObj.responseJSON;
                    const errorMsg = response.errorMsg;
                    if (errorMsg) {
                        alert(errorMsg);
                        return;
                    }
                    alert('Error setting Tube web hook status');
                })
                .done(function(response) {
                    alert("Tube web hook status successfully saved")
                    // Refresh screen so new data visible
                    location.reload();
                });
        }
        $('#republishWebHooksBtn').on('click', function() {
            setTubeWebHookStatus('QUEUED');
        });
        $('#neverSendWebHooksBtn').on('click', function() {
            setTubeWebHookStatus('NEVER_SEND');
        });
    </script>
{% endif %}

<script type="application/javascript">
    // Checking header checkbox toggles all rows
    $('#check-all').change(function() {
        $(".tube-checkbox").prop('checked', $(this).is(':checked'));
    });
</script>
{% endblock %}
