{% block body %}

    {% include 'flash.html.twig' %}

    <div class="margin-bottom">
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#labelPrintModal">
            <i class="fa fa-fw fa-print"></i> Re-Print Selected Tubes
        </button>
    </div>

    {{ form_start(printForm) }}

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 2em;"><input type="checkbox" id="check-all"></th>
                <th>Accession ID</th>
                <th>Type</th>
                <th>Kit Type</th>
                <th>Status</th>
                <th>Printed At</th>
                <th>Web Hook Status</th>
                <th>Web Hook Last Sent</th>
            </tr>
        </thead>
        <tbody>
        {% for tube in tubes %}
            <tr>
                <td>
                    <input type="checkbox" class="tube-checkbox" name="tubes[]" value="{{ tube.accessionId }}">
                </td>
                <td>{{ tube.accessionId }}</td>
                <td>{{ tube.typeText }}</td>
                <td>{{ tube.kitType }}</td>
                <td>{{ tube.statusText }}</td>
                <td>{{ tube.printedAt is empty ? '' : tube.printedAt|date("Y-m-d g:ia") }}</td>
                <td>{% spaceless %}
                    {{ tube.webHookStatus }}
                    {% if tube.webHookStatusMessage %}
                        <span class="glyphicon glyphicon-info-sign text-primary" aria-hidden="true" title="{{ tube.webHookStatusMessage|e("html_attr") }}"></span></th>
                    {% endif %}
                {% endspaceless %}</td>
                <td>{{ tube.webHookLastTriedPublishingAt ? tube.webHookLastTriedPublishingAt|date("Y-m-d H:i:s") : ''}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade modal-primary" id="labelPrintModal" tabindex="-1" role="dialog" aria-labelledby="labelPrintModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="labelPrintModalLabel">Re-Print Selected Tubes</h4>
                </div>
                <div class="modal-body">
                    {{ form_row(printForm.printer) }}
                    {{ form_row(printForm.labelType) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><i class="fa fa-chevron-left"></i> Cancel</button>
                    {{ form_row(printForm.print) }}
                </div>
                {{ form_end(printForm) }}
            </div>
        </div>
    </div>

<script type="application/javascript">
    $('#check-all').change(function() {
        $(".tube-checkbox").prop('checked', $(this).is(':checked'));
    });
</script>
{% endblock %}
