{% block body %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Barcode</th>
            <th>Status</th>
            <th>Created</th>
            <th>Last Modified</th>
        </tr>
    </thead>
    <tbody>
    {% for wellPlate in wellPlates %}
        <tr>
            <td>
                <a href="{{ path('app_wellplate_update', {id: wellPlate.id}) }}">{{ wellPlate.barcode }}</a>
            </td>
            <td>{{ wellPlate.status | replace({'_': " "}) | title }}</td>
            <td>{{ wellPlate.createdAt | date("Y-m-d H:i:s") }}</td>
            <td>{{ wellPlate.updatedAt | date("Y-m-d H:i:s") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}